#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	./install.sh --size standard compact --theme all --tweaks rimless normal catppuccin --dest $(CURDIR)/debian/colloid-gtk-theme/usr/share/themes
	find $(CURDIR)/debian/colloid-gtk-theme/usr/share/themes -name COPYING -delete
